.container {
    width: 100vw;
    max-width: 300px;
    position: relative;
    display: flex;
}

#search-box {
    width: 100%;
    box-sizing: border-box;
}

#result-container {
    position: absolute;
    top: 30px;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.line-result {
    background-color: #eeeeee;
    transition: 0.2s;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.line-result:hover {
    background-color: lightblue;
}

p {
    margin: 0;
}